@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body {
  color: white;
  font-family: 'Yusei Magic', sans-serif;
  text-align: center;




  background-image: url(https://images.pexels.com/photos/2340254/pexels-photo-2340254.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260 );
  background-size: auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}


.my-image {
    border-radius: 30px;
}